@import "variables", "mixins";

html,
body {
  margin: 0;
  font-size: $base-font-size;
  font-family: $base-font-family;
  display: flex;
  flex-direction: column;
  line-height: $base-line-height;
}

.muted {
  color: $grey-color;
}

ul,
ol {
  padding-left: 1em;
}

.limitContentWidth {
  width: $content-width;
  align-self: center;
  display: flex;
  flex-direction: column;

  @include mobile() {
    width: auto;
    flex: 1;
    align-self: stretch;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  margin-top: 1em;
  margin-bottom: 10px;
  clear: both;
  // display: flex;
  // align-items: center;
  line-height: 1.2em;

  &:hover .zola-anchor {
    text-decoration: none;
    opacity: 0.5;
  }

  .zola-anchor {
    color: #000;
    font-size: 0.75em;
    opacity: 0.1;
    padding: 0 0.5em;
    margin-left: 0.25em;
    aspect-ratio: 1;
    display: inline-block;

    &:hover {
      background-color: #eee;
      border-radius: 100%;
      opacity: 0.7;
    }
  }
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2rem;
  line-height: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

a {
  color: $brand-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

blockquote {
  color: $grey-color;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-style: italic;
  margin: 0;
}

code {
  background-color: #f9f9f9;
  border: 1px solid $grey-color-light;
  padding: 0.1em 0.25em;
  border-radius: 4px;
  line-height: 1.6em;
  font-size: $small-font-size;
}

pre {
  padding: 0.5em;
  border: 1px solid $grey-color-light;
  background-color: #f9f9f9 !important;
  border-radius: 4px;
  overflow-x: auto;
  max-width: $content-width;

  @include mobile() {
    max-width: 90vw;
  }

  code {
    padding: 0;
    background-color: transparent;
    border: none;
    line-height: 1em;
  }
}

table {
  border: 1px solid #ddd;

  thead {
    background-color: #eee;
  }

  td,
  th {
    padding: 5px 10px;
  }
}

img {
  max-width: 100%;
}

a.thumbnail {
  &.left {
    float: left;
    margin: 0 15px 15px 0;
  }

  &.right {
    float: right;
    margin: 0 0 15px 15px;
  }
}