@import "mixins";

.gallery {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 0.5em;
  margin-bottom: 1em;

  @include mobile() {
    grid-template-columns: auto auto auto;
  }

  li {
    a {
      display: flex;

      img {
        flex: 1;
        object-fit: cover;
        max-height: 100px;
      }
    }
  }
}