@import "variables";

ol.listing,
ol.listing ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

ol.listing {
  h2 {
    font-size: 1.3em;
    margin-top: 2em;
    margin-bottom: 20px;
  }
}

ol.listing ol {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  li {
    display: flex;

    .date {
      min-width: 75px;
      font-size: $small-font-size;
      color: $grey-color;
    }

    h3 {
      font-size: 1em;
      margin: 0;
    }
  }
}