@import "./variables.scss";

@mixin mobile() {
  @media screen and (max-width: $mobile-breakpoint) {
    @content;
  }
}

@mixin desktop() {
  @media screen and (min-width: ($mobile-breakpoint + 1)) {
    @content;
  }
}