@import "./mixins", "variables";

article {
  flex-direction: column;

  header {
    margin-bottom: 2em;

    h1 {
      margin-bottom: 0;
    }

    .meta {
      color: #828282;
      font-size: $small-font-size;
    }
  }
}

.minibio {
  border: 1px solid #ccc;
  padding: 1em 2em;
  margin: 3em 0 2em 0;
  border-radius: 4px;
  font-size: 1.25em;
  display: flex;
  align-items: center;
  gap: 1em;

  p {
    margin: 0;
  }

  .inquiry {
    white-space: nowrap;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: $brand-color;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
  }
}

.backlinks {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    max-width: 20em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 0.25em;
  }
}