$base-font-family: "Georgia", serif;
$base-font-size: 16px;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;
$spacing-unit: 30px;

$text-color: #111;
$brand-color: #e3193e;

$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

$content-width: 800px;
$mobile-breakpoint: 832px;