@import "../mixins", "../variables";

footer {
  display: flex;
  border-top: 1px solid $grey-color-light;
  justify-content: center;
  padding: 2em 0;
  color: $grey-color;
  font-size: $small-font-size;
  gap: 0.5em;
  margin-top: 3em;
  // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  box-shadow: 0px -5px 12px rgba(149, 157, 165, 0.2);

  .limitContentWidth {
    flex-direction: row;
  }

  @include mobile() {
    .limitContentWidth {
      padding: 0 1em;
      flex-direction: column;
      font-size: $base-font-size;
    }

    .contact,
    .rss,
    .description {
      margin-bottom: 1em;
    }
  }

  .contact {
    flex: 35;
  }

  .rss {
    flex: 20;
    display: flex;
    align-items: center;

    img {
      width: 1em;
    }
  }

  .description {
    flex: 45;

    p {
      margin: 0;
    }
  }
}