@import "../mixins";

.hamburger {
  position: absolute;
  top: 50px;
  right: 1.5rem;
  margin-left: -2em;
  margin-top: -45px;
  width: 2em;
  height: 45px;
  z-index: 5;
  cursor: pointer;

  @include desktop() {
    display: none;
  }

  div {
    position: relative;
    width: 2.5rem;
    height: 3px;
    border-radius: 0px;
    background-color: #333;
    margin-top: 0.75rem;
    transition: all 0.3s ease-in-out;
  }
}

#toggle {
  display: none;

  &:checked+.hamburger {
    .top {
      transform: rotate(-45deg);
      margin-top: 30px;
    }

    .bottom {
      opacity: 0;
      transform: rotate(45deg);
    }

    .middle {
      transform: rotate(45deg);
      margin-top: -0.2rem;
    }
  }

  @include mobile() {
    &:checked+.hamburger+nav {
      position: absolute;
      top: 69px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      display: flex;
      background-color: $brand-color;

      ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        a {
          color: #fff;
          font-size: 3em;
          padding: 0.5em 0;
        }
      }
    }
  }
}