@import "../variables";
@import "hamburger";

body>header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $grey-color-light;
  padding: 0.5em;
  box-shadow: 0px 5px 12px rgba(149, 157, 165, 0.2);

  .limitContentWidth {
    flex-direction: row;
  }

  a {
    text-decoration: none;
  }

  .brand {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    color: $text-color;

    &:hover {
      text-decoration: none;
    }

    img {
      border-radius: 100%;
      margin-right: 0.75em;
    }
  }

  nav {
    display: flex;
    flex: 1;

    @include mobile() {
      display: none;
      z-index: 10;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex: 1;
      justify-content: end;

      li {
        display: flex;

        a {
          color: $text-color;
          padding: 0 0.5em;
          flex: 1;
          display: flex;
          align-items: center;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}