{%- set serverPath = "/" ~ page.relative_path | replace(from="/index.md", to="") -%}
{%- set galleryPath = serverPath ~ "/" ~ folder %}

<ul class="gallery">
  {% for asset in page.assets -%}
  {%- if asset is starting_with(galleryPath) -%}
  {%- set thumbnail = resize_image(path=asset, width=150, height=150, op="fit") -%}
  {%- set publicPath = page.path ~ asset | replace(from=serverPath ~ "/", to="") -%}
  <li>
    <a href="{{publicPath | safe}}" data-fslightbox="gallery">
      <img src="{{thumbnail.url | replace(from=config.base_url, to="") | safe}}" alt="Gallery image {{loop.index}}">
    </a>
  </li>
  {%- endif -%}
  {%- endfor %}
</ul>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fslightbox/3.3.1/index.min.js"
  integrity="sha512-EqNNJuepkw5P9vxCml8eBk7C4Ld+4kAnvzOD/jG21rkxWPILGoQa5EvD62UieiJF0u3xoQrcVnce4i83VnYj/Q=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>