<div {% if class %}class="{{class}}" {% endif %}>
  <iframe src="https://www.youtube.com/embed/{{id}}{% if autoplay %}?autoplay=1{% endif %}" webkitallowfullscreen
    mozallowfullscreen allowfullscreen>
  </iframe>
</div>