<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  
  {% if config.base_url != "http://127.0.0.1:1111" %}
    <script async src="http://umami.contabo.digicraft.eu/script.js"
      data-website-id="7eb8adef-430e-49af-92fc-e4e594907f39"></script>
  {% endif %}

  {# Title meta tags #}
  <title>{% if page.title %}{{page.title}} - {%endif%}{{config.title}}</title>
  <meta property="og:title" content="{% if page.title %}{{page.title}} - {%endif%}{{config.title}}" />

  {# Random meta tags #}
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <meta name="google-site-verification" content="T8_17FcGPeQNejRM2uTRglMA_F_zitlqaruLat2rJM8" />
  <meta name="flattr:id" content="gyvyye">
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@jeroenpelgrims" />
  <meta name="twitter:creator" content="@jeroenpelgrims" />
  <meta property="og:site_name" content="Jeroen Pelgrims">
  <meta property="article:author" content="Jeroen Pelgrims">

  {# Description #}
  <meta name="description" content="
    {%- if page.description -%}
      {{- page.description -}}
    {%- else -%}
      {{config.description}}
      {%- if page.content -%}
        - {{- page.content | truncate(length=250) -}}      
      {%- endif -%}
    {%- endif -%}
  " />
  <meta property="og:description" content="
    {%- if page.description -%}
      {{- page.description -}}
    {%- else -%}
      {{config.description}}
      {%- if page.content -%}
        - {{- page.content | truncate(length=250) -}}      
      {%- endif -%}
    {%- endif -%}
  " />

  {# Canonical meta tags #}
  <link rel="canonical" href="{% if page.path %}{{get_url(path=page.path)}}{% else %}{{get_url(path='/')}}{%endif%}/" />
  <meta property="og:url"
    content="{% if page.path %}{{get_url(path=page.path)}}{% else %}{{get_url(path='/')}}{%endif%}" />

  <link rel="alternate" type="application/atom+xml" title="{{config.title}}" href="/atom.xml">
  <link rel="icon" href="/img/logo.png">
  <link rel="stylesheet" href="/main.css">
</head>

<body>
  {% include "layout/header.html" %}

  <main class="limitContentWidth">
    {% block content %}{% endblock content %}
  </main>

  {% include "layout/footer.html" %}

  <script src="/main.js"></script>
</body>

</html>
