{% if section.pages %}
{% set pages = section.pages %}
{% elif term.pages %}
{% set pages = term.pages %}
{% endif %}

<ol class="listing">
  {% for year, posts in pages | group_by(attribute="year") %}
  <li>
    <h2>{{year}}</h2>
    <ol>
      {% for post in posts %}
      <li>
        <span class="date" title="{{post.date | date(format='%+')}}">
          {{post.date | date(format="%h %e")}}
        </span>
        <h3><a href="{{post.path}}">{{post.title}}</a></h3>
      </li>
      {% endfor %}
    </ol>
  </li>
  {% endfor %}
</ol>