{% import "macros/dateview.html" as dateview %}

{% extends "index.html" %}

{% block content %}
<article>
  <header>
    <h1>{{ page.title }}</h1>
    {% if page.date %}
    <p class="meta">
      {%- if page.updated -%}
      Last updated on {{ dateview::dateview(timestamp=page.updated) }}, originally posted on
      {%- else -%}
      Posted on
      {%- endif -%}
      {{ dateview::dateview(timestamp=page.date) -}}

      {% if page.taxonomies.tags -%}
      in&nbsp;
      {%- for tag in page.taxonomies.tags -%}
      <a href="/tags/{{tag}}/">
        {{- tag -}}
      </a>
      {%- if tag != page.taxonomies.tags | last %}, {% endif %}
      {%- endfor -%}
      {%- endif -%}
    </p>
    {% endif %}
  </header>

  <main>
    {{ page.content | safe }}
  </main>

  {% if page.extra.backlinks %}
  <h2>The following sites link back to this post</h2>
  <ul class="backlinks">
    {% for link in page.extra.backlinks %}
    <li><a href="{{link}}">{{link}}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
</article>

{# TODO: Comments #}

{# Only show the banner if this is a post #}
{% if page.date %}
<section class="minibio">
  <p>
    This post is written by Jeroen Pelgrims, an independent software developer who runs <a
      href="https://digicraft.eu">Digicraft.eu</a>.
  </p>
  <a href="https://digicraft.eu" class="inquiry">Hire Jeroen</a>
</section>
{% endif %}

{% endblock content %}