<footer>
  <div class="limitContentWidth">
    <div class="contact">
      <div>{{config.title}}</div>
      <a href="mailto:{{config.extra.email | base64_encode}}" data-decode="">
        This requires javascript to be enabled
      </a>
    </div>
    <div class="rss">
      <a href="/atom.xml" title="Rss feed">
        <img src="/img/rss.svg" alt="RSS icon" width="14" height="14">
        RSS feed
      </a>
    </div>
    <div class="description">
      <p class="text">
        {{config.description}}
      </p>
      &copy;
      2010-{{ now() | date(format="%Y") }}
      {{config.title}}
    </div>
  </div>
</footer>