<header>
  <div class="limitContentWidth">
    <a class="brand" href="/">
      <img src="https://www.gravatar.com/avatar/8bee53901e7d97eb698d6205090acf35?s=104" alt="Gravatar of Jeroen"
        width="52" height="52">
      {{config.title}}
    </a>

    {% include "layout/hamburger.html" %}

    <nav>
      <ul>
        <li><a href="/">Blog</a></li>
        <li><a href="/projects/">Projects</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="http://jeroenpelgrims.gitlab.io/resume/resume.en.pdf">Resume</a></li>
      </ul>
    </nav>
  </div>
</header>